# Android & Gradle
.gradle/
build/
app/build/
.kotlin/
.cxx/
.externalNativeBuild/

# IDE Settings
.idea/
*.iml
*.ipr
*.iws
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Local files
local.properties
captures/
.DS_Store

# Logs
*.log

# APK/Bundle
*.apk
*.aab
/app/*.apk

# Keys/Secrets
*.jks
*.keystore
/app/google-services.json
